*{
    font-family: "Lora", serif;
}

nav{
    background-color: rgba(26, 23, 23, 0.678);
}


.logoAulab{
    width: 150px;
    height: 150px;
}

.link{
    text-decoration: none;
    color: white;
}

.listlink{
    list-style-type: none;
}

header{
    background-image: url(./media/background.jpeg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}


h1{
    color: white;
    font-size: 70px;
}


.linkhome{
    color: white;
    text-decoration: none;
    font-size: 20px;
}


.buttonArtc{
    background-color: rgba(26, 23, 23, 0.678);
    color: white;
}


.buttonArtc:hover{
    background-color: rgba(129, 179, 13, 0.89);
    color: black;
}